{% extends 'base.html' %}

{% block title %}Lista de Carros{% endblock %}

{% block main %}

    <div class="form-content my-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-1 rounded-lg">
                        <div class="card-header justify-content-center mycardheader">
                            <h2 class="font-weight-dark text-center">Lista de Carros</h2>
                        </div>
                        <div class="card-body mybody">
                            <form method="get" action="{% url 'lista_carros' %}">
                                <input type="number" name="id" placeholder="Procure pelo ID">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <a href="{% url 'novo_carro' %}" class="btn btn-primary btn-sm mx-3">Adicionar carro</a><hr>
                            
                                <b>ID: {{ id_unico }}<hr>
                                Nome do Carro: {{ nome }}<hr>
                                Modelo do Carro: {{ modelo }}<hr>
                                Ano de Fabricação: {{ ano_de_fabricacao }}<hr>
                                Ano do Modelo: {{ ano_do_modelo }}<hr>
                                Valor do Carro: R$ {{ valor }}<hr>
                                Motor: {{ motor }}<hr>
                                Turbo: {{ motorizacao }}<hr>
                                Data que chegou na loja: {{ chegou_loja }}<hr>
                                Data que foi vendido: {{ saiu_loja }}<hr>
                                Tem em estoque: {{ estoque }}</b>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center><a href="{% url 'editar_carro' %}" class="btn btn-warning btn-sm mx-3">Editar Carro</a></center><br>
{% endblock %}